@use 'game-tile';

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 380px;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 4px;
}

.game-players {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 2px;
}

.game-players mat-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
}
